<h1>{{content.title}}</h1>

{{#view  MariageAEF.App.PictureFocusedView pictureBinding="selectedPicture" class="focused-picture"}}
<img {{bindAttr src="picture.url"}} {{bindAttr title="picture.title"}} alt=""/>
{{#if isLoading}}
<span class="picture-loading">...chargement..</span>
{{/if}}}
{{/view}}
<div class="tumbnails">
	<ul>
		{{#each content.pictures}}
		{{#view  MariageAEF.App.TumbnailView pictureBinding="this" classNameBindings="this.picture.isFocused" }}
		<img {{bindAttr src="picture.tumbnail.url"}} {{bindAttr title="picture.title"}} {{bindAttr class="picture.isFocused"}} alt=""/>
		{{#if isLoading}}
		<span class="picture-loading">...chargement..</span>
		{{/if}}}
		{{/view}}
		{{/each}}
	</ul>
</div>
